.hamburger {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    -webkit-text-stroke: 2px rgb(0, 0, 0);

    top: 15px;
    left: 20px;
    z-index: 1001;
}

/* Side Menu (Hidden by Default) */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(100, 100, 95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

/* Side Menu Content */
.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo inside Menu */
.menu-logo {
    width: 100px;
    margin-bottom: 10px;
}

/* Line Separator */
hr {
    width: 80%;
    border: 1px solid white;
}

/* Navigation Links inside the Menu */
.side-menu a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Hover Effect for Menu Links */
.side-menu a:hover {
    background-color: #575757;
}