<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/contact.css">
  <link rel="stylesheet" href="static/sidemenu.css">
  <link rel="stylesheet" href="static/nav.css">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <script src="static/script.js" defer></script>
   <header>
        <!-- Hamburger Menu Icon -->
        <div class="hamburger" onclick="toggleMenu()">☰</div>
    
    </header>

    <!-- Side Navigation Slider -->
    <div id="sideMenu" class="side-menu">
        <div class="menu-content">
            <img src="static/img/favicon.png" alt="Logo" class="menu-logo">
            <hr>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/businfo">All Buses</a>
            <a href="/emp">Attendance</a>
             <!--<a href="#">Contact</a>-->
            <a href="#">About</a>
        </div>
    </div>
</head>
  <title>TRANSPORT</title>
</head>
<body>
  <div class="contact-section">
  <!-- Call Button -->

  
  <br> <!-- Line break to ensure the Facebook button is on a new line -->

  <!-- Facebook Logo Button -->
  <a href="" target="_blank" class="facebook-button">
    <img src="static/img/fblogo.png" alt="Facebook" class="facebook-logo">
  </a>
</div>
<a href="" target="_blank" class="whatsapp-button">
    <img src="static/img/walogo.png" alt="Whatsapp" class="whatsapp-logo">
  </a>
</div>
</body>
</html>
